.logo{
    max-width: 300px;
    max-height: 300px;
    border-radius: 25%;
    margin: auto;    
    display: block;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
}

.footer-links a {
    color: #acbbc1;
    text-decoration: none;
}

.footer-text{
    padding-right: 15px;
    text-align: center;
}
.footer-text:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #f79533,
      #f37055,
      #07b39b,
      #6fba82
    );
    border-radius: 10%;
    font-weight: bold;
}

.my-footer{
    position: absolute;
    bottom: 0%;
}

.buttonss{
    margin: 20px;
}

.bn29 {
    border: black;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    content: "";
    z-index: -2;
    background-size: 300% 300%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .bn29:before {
    -webkit-filter: blur(1px);
    filter: blur(20px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .bn29:hover:before {
    width: 115%;
    height: 115%;
  }

  .search {
    border: none;
    padding: 0.8em 5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .search:before,
  .search:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    content: "";
    z-index: -2;
    background-size: 300% 300%;
    background: linear-gradient(
      60deg,
      #f37055,
      #ad812faf,
      rgb(215, 213, 64)
    );
  }
  
  .search:before {
    -webkit-filter: blur(1px);
    filter: blur(20px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .search:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .search:hover:before {
    width: 115%;
    height: 115%;
  }

  #typing {

    width: 0ch;
    color: white;
    float: left;
    font-weight:bold;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(12) 1s infinite alternate;
}

#typing span{
color:rgb(0, 0, 0);}

#crow {
    float: left;

    color: white;
    animation: crow 0s linear 0s infinite;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 25ch;
    }
}
@keyframes crow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}