.img-thumbnail{
    border-radius: 1px;
    width: 130px;
    height: 45px;
}

.me-2{
    font-size: 14px;
    border-color: black;
}

.to-left-result{
    padding-left: 10px;
}

.cat-result{
    font-size: 14px;
}

.acc-btn-result{
    padding: 8px;
    font-size: 13px;
}

.acc-btn{
    font-size: 13px;
}

.btn-entry{
    font-size: 20px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.acc-outer {
    padding-top: 30px;
    padding-bottom: 30px;
}