.head{
    margin: 0%;
}

.bi-head {
    font-size: 140%;
    margin: 8px;
}

.to-left{
    margin-left: 1%;
    margin-top: 1%;
}
.to-right{
    position: absolute;
    right: 10px;
    top: 5px;
    margin-right: 1%;
    margin-top: 1%;
    
}

.chuki:hover{
    color: rgb(230, 230, 230);
    background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
}

.footer-links a {
    color: #acbbc1;
    text-decoration: none;
}

.footer-text{
    padding-right: 15px;
    text-align: center;
}
.footer-text:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(
      60deg,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #f79533,
      #f37055,
      #07b39b,
      #6fba82
    );
    border-radius: 10%;
    font-weight: bold;
}

.my-footer{
    position: absolute;
    bottom: 0%;
    background-color: rgb(250, 250, 250);
}
